[submodule "asf4"]
	path = asf4
	url = https://github.com/lancaster-university/asf4
[submodule "samd-peripherals"]
	path = samd-peripherals
	url = https://github.com/lancaster-university/samd-peripherals
